<include file='Common:header_file' />
<script type="text/javascript">
    var GetLinkInfoUrl='{:U("Admin/Release/Article/GetLinkInfo",'','')}';
    addLink('english_list','english');
</script>
        <title>英语学习</title>
<include file='Common:header' />
<div class="menu_index">
    <div class="subHeader" id="english_tab">
        分类：英语学习（共24篇文章）
    </div>
    <div class="menu_list">
        <ul id="english_list">

        </ul>
    </div>
</div>
<include file='Common:footer_content' />
<include file='Common:footer' />