<html>
<head>
    <title>Vincent Blog</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/animation.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>
<body>
    <div class="container body_container">
        <div class="row header">
            <div class="col-md-12 col-sm-12 header_panel">
                <div class="top_nav">
                    <nav id="nav">
                        <ul>
                            <li><a href="index.html" class="menu_active">博客首页</a></li>
                            <li><a href="read.html">阅读感悟</a></li>
                            <li><a href="life.html">生活随笔</a></li>
                            <li><a href="software.html">软件工程</a></li>
                            <li><a href="english.html">英语学习</a></li>
                            <li><a href="">留言板</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row main_body">
            <div class="col-md-12 col-sm-12 main_body_panel">
                <div class="info">
                    <figure>
                        <img src="__PUBLIC__/images/te.jpg" alt="Beauty"/>
                        <figcaption>
                            <strong>Vincent Blog</strong>
                            当我们被误解时，会花很多时间去辩白。 但没有用，没人愿意听，大家习惯按自己的所闻、理解做出判别，
                            每个人其实都很固执。与其努力且痛苦的试图扭转别人的评判，不如默默承受，给大家多一点时间和空间去了解。
                            而我们省下辩解的功夫，去实现自身更久远的人生价值。其实，渡人如渡己，渡已，亦是渡人。
                        </figcaption>
                    </figure>
                    <div class="card">
                        <h1>我的名片</h1>
                        <p>网名：请叫我小V | Vincent</p>
                        <p>职业：学生</p>
                        <p>电话：13866668888</p>
                        <p>Email：zhangleisoft2012@163.com</p>
                        <ul>
                            <li>
                                <a href="" class="home"><span class="glyphicon glyphicon-home"></span></a>
                            </li>
                            <li>
                                <a href="" class="picture"><span class="glyphicon glyphicon-picture"></span></a>
                            </li>
                            <li>
                                <a href="" class="message"><span class="glyphicon glyphicon-envelope"></span></a>
                            </li>
                            <li>
                                <a href="" class="heart"><span class="glyphicon glyphicon-heart"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog">
                    <div class="blogList">
                        <ul>
                            <li>
                                <div class="arrow_box">
                                    <div class="triangle"></div>
                                    <div class="circle"></div>
                                    <h2 class="title">
                                        <a href="">我希望我的爱情是这样的</a>
                                    </h2>
                                    <ul class="textInfo">
                                        <a href="">
                                            <img src="__PUBLIC__/images/te.jpg" alt=""/>
                                        </a>
                                        <p>
                                            我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。
                                            做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。
                                        </p>
                                    </ul>
                                    <ul class="details">
                                        <li class="icon_time">
                                            <a href="#"><span class="glyphicon glyphicon-time"></span>2014-12-17</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <div class="arrow_box">
                                    <div class="triangle"></div>
                                    <div class="circle"></div>
                                    <h2 class="title">
                                        <a href="">我希望我的爱情是这样的</a>
                                    </h2>
                                    <ul class="textInfo">
                                        <a href="">
                                            <img src="__PUBLIC__/images/te.jpg" alt=""/>
                                        </a>
                                        <p>
                                            我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。
                                            做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。
                                        </p>
                                    </ul>
                                    <ul class="details">
                                        <li class="icon_time">
                                            <a href="#"><span class="glyphicon glyphicon-time"></span>2014-12-17</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                        <ul>
                            <li>
                                <div class="arrow_box">
                                    <div class="triangle"></div>
                                    <div class="circle"></div>
                                    <h2 class="title">
                                        <a href="">我希望我的爱情是这样的</a>
                                    </h2>
                                    <ul class="textInfo">
                                        <a href="">
                                            <img src="__PUBLIC__/images/te.jpg" alt=""/>
                                        </a>
                                        <p>
                                            我希望我的爱情是这样的，相濡以沫，举案齐眉，平淡如水。我在岁月中找到他，依靠他，将一生交付给他。
                                            做他的妻子，他孩子的母亲，为他做饭，洗衣服，缝一颗掉了的纽扣。然后，我们一起在时光中变老。
                                        </p>
                                    </ul>
                                    <ul class="details">
                                        <li class="icon_time">
                                            <a href="#"><span class="glyphicon glyphicon-time"></span>2014-12-17</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="asideInfo">
                        <div class="recommend">
                            <h2>推荐文章</h2>
                            <ol>
                                <li>
                                    <span>
                                        <strong>1</strong>
                                    </span>
                                    <a href="">有一种思念，是淡淡的幸福</a>
                                </li>
                                <li>
                                    <span>
                                        <strong>2</strong>
                                    </span>
                                    <a href="">励志人生</a>
                                </li>
                                <li>
                                    <span>
                                        <strong>3</strong>
                                    </span>
                                    <a href="">时间煮雨</a>
                                </li>
                                <li>
                                    <span>
                                        <strong>4</strong>
                                    </span>
                                    <a href="">绿色小清新</a>
                                </li>
                            </ol>
                        </div>
                        <div class="hotTopic">
                            <h2>热门话题</h2>
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                                        "腐女不可怕，就怕腐女会画画"
                                        <p><span class="glyphicon glyphicon-thumbs-up"></span></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                                        "无意戳中泪点~~"
                                        <p><span class="glyphicon glyphicon-thumbs-up"></span></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="search">
                            <form class="searchForm" action="" method="get">
                                <span class="glyphicon glyphicon-search"></span>
                                <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'"/>
                            </form>
                        </div>
                        <div class="videoPlayer">
                            <dl>
                                <dt class="art">
                                    <img src="__PUBLIC__/images/portrait.gif" alt="专辑"/>
                                </dt>
                                <dd class="song">
                                    <span class="glyphicon glyphicon-music"></span>
                                    画
                                </dd>
                                <dd class="artist">
                                    <span class="glyphicon glyphicon-user"></span>
                                    歌手：赵雷
                                </dd>
                                <dd class="album">
                                    <span class="glyphicon glyphicon-record"></span>
                                    所属专辑：《赵小雷》
                                </dd>
                                <dd class="like">
                                    <span class="glyphicon glyphicon-heart"></span>
                                    喜欢
                                </dd>
                                <dd class="music">
                                    <audio src="__PUBLIC__/mp3/hua.mp3" controls></audio>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer">
            <div class="col-md-12 col-sm-12 footer_panel">
                <div class="footer_mid">
                    <div class="links">
                        <h2>友情链接</h2>
                        <ul>
                            <li>
                                <a href="">Ajax</a>
                            </li>
                            <li>
                                <a href="">PHP</a>
                            </li>
                        </ul>
                    </div>
                    <div class="visitors">
                        <h2>最新评论</h2>
                        <dl>
                            <dt>
                                <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                            </dt>
                            <dd>
                                Dance Smile
                                <time>49分钟前</time>
                            </dd>
                            <dd>
                                给<a href="">ThinkPHP</a>评论:
                            </dd>
                            <dd>
                                文章很好，觉得很有用
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                            </dt>
                            <dd>
                                Vincent
                                <time>一天前</time>
                            </dd>
                            <dd>
                                给<a href="">胖妞</a>评论:
                            </dd>
                            <dd>
                                你很可爱诶！
                            </dd>
                        </dl>
                    </div>
                    <section class="shoot">
                        <h2>摄影作品</h2>
                        <ul>
                            <li>
                                <a href="">
                                    <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="footer_bottom">
                    <p>
                        Copyright 2013 Design by
                        <a href="#">Vincent</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>