<include file='Common:header_file' />
<script type="text/javascript">
    var GetLinkInfoUrl='{:U("Admin/Release/Article/GetLinkInfo",'','')}';
    addLink('life_list','life');
</script>
<title>生活随笔</title>
<include file='Common:header' />
<div class="menu_index" >
    <div class="subHeader" id="life_tab">
        分类：生活随笔（共24篇文章）
    </div>
    <div class="menu_list">
        <ul id="life_list">

        </ul>
    </div>
</div>
<include file='Common:footer_content' />
<include file='Common:footer' />