<include file='Common:header_file' />
<script type="text/javascript">
    var GetLinkInfoUrl='{:U("Admin/Release/Article/GetLinkInfo",'','')}';
    addLink('read_list','masterbook');
</script>
<title>阅读感悟</title>
<include file='Common:header' />
    <div class="menu_index">
        <div class="subHeader" id="read_tab">
            分类：阅读感悟（共24篇文章）
        </div>
        <div class="menu_list">
            <ul  id="read_list">

            </ul>
        </div>
    </div>
<include file='Common:footer_content' />
<include file='Common:footer' />