<include file='Common:header_file' />
<script type="text/javascript">
    var GetLinkInfoUrl='{:U("Admin/Release/Article/GetLinkInfo",'','')}';
    addLink('software_list','it');
</script>
<title>软件工程</title>
<include file='Common:header' />
<div class="menu_index">
    <div class="subHeader" id="software_tab">
        分类：软件工程（共24篇文章）
    </div>
    <div class="menu_list">
        <ul id="software_list">

        </ul>
    </div>
</div>
<include file='Common:footer_content' />
<include file='Common:footer' />