<include file="Common:header_file" /><title>文章</title>
<include file="Common:article_header" /><div class="article_content">
    <div class="path"><span><strong>V</strong>incent博客</span><a href="">首页</a>
        >><a href="../Index/life.html">生活随笔</a></div><div class="title"><h1>成长之路</h1></div>
    <div class="auTI"><span>张磊</span><span>2014-12-20</span></div><div class="a_content">
    <p>今天是写个人博客的第三天，感觉速度上还可以，就是熟练度还不够。而且，为了达到目的，很多地方的代码规范度以及意义都比较糟糕。<br>
        不过我还是很开心，毕竟，这个个人博客已经初具规模，实现了一些基本功能。<br>哈哈，我会继续加油的。
    </p></div>

    <div class="pre_next">
        <span><a href="">上一篇</a>TCP网络协议</span>
        <span><a href="">下一篇</a>C++指针</span>
    </div>
</div><include file="Common:footer_content" />
<include file="Common:footer" />