</head>
<body>
<div class="container body_container">
    <div class="row header">
        <div class="col-md-12 col-sm-12 header_panel">
            <div class="top_nav">
                <nav id="nav">
                    <ul>
                        <li><a href="../Index/index.html">博客首页</a></li>
                        <li><a href="../Index/read.html" id="read">阅读感悟</a></li>
                        <li><a href="../Index/life.html" id="life">生活随笔</a></li>
                        <li><a href="../Index/software.html" id="software">软件工程</a></li>
                        <li><a href="../Index/english.html" id="english">英语学习</a></li>
                        <li><a href="">留言板</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <div class="row main_body">
        <div class="col-md-12 col-sm-12 main_body_panel">