</div>
</div>

<div class="row footer">
    <div class="col-md-12 col-sm-12 footer_panel">
        <div class="footer_mid">
            <div class="links">
                <h2>友情链接</h2>
                <ul>
                    <li>
                        <a href="">Ajax</a>
                    </li>
                    <li>
                        <a href="">PHP</a>
                    </li>
                </ul>
            </div>
            <div class="visitors">
                <h2>最新评论</h2>
                <dl>
                    <dt>
                        <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                    </dt>
                    <dd>
                        Dance Smile
                        <time>49分钟前</time>
                    </dd>
                    <dd>
                        给<a href="">ThinkPHP</a>评论:
                    </dd>
                    <dd>
                        文章很好，觉得很有用
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                    </dt>
                    <dd>
                        Vincent
                        <time>一天前</time>
                    </dd>
                    <dd>
                        给<a href="">胖妞</a>评论:
                    </dd>
                    <dd>
                        你很可爱诶！
                    </dd>
                </dl>
            </div>
            <section class="shoot">
                <h2>摄影作品</h2>
                <ul>
                    <li>
                        <a href="">
                            <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <img src="__PUBLIC__/images/portrait.gif" alt=""/>
                        </a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="footer_bottom">
            <p>
                Copyright 2013 Design by
                <a href="#">Vincent</a>
            </p>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        active_menu();
    });
</script>