<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/animation.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/article_content.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/release_article.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/addLink.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/addPreNext.js"></script>